<%= form_with(model: limit, local: true) do |form| %>
  <% if limit.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(limit.errors.count, "error") %> prohibited this limit from being saved:</h2>

      <ul>
      <% limit.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :insurance_program_id %>
    <%= form.text_field :insurance_program_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
