<p id="notice"><%= notice %></p>
<div class="col-lg-6">
    <div class="card">
        <div class="card-header">
            <strong class="card-title">Limits</strong>
        </div>
        <div class="card-body">
            <table class="table">
                <thead>
                    <tr>
                      <th>Name</th>
                      <th>Insurance program</th>
                      <th colspan="3"></th>
                    </tr>
              </thead>
              <tbody>
                <tr>
                <% @limits.each do |limit| %>
                <td><%= limit.name %></td>
                <td><%= limit.insurance_program %></td>
                <td><%= link_to 'Show', limit %></td>
                <td><%= link_to 'Edit', edit_limit_path(limit) %></td>
                <td><%= link_to 'Destroy', limit, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                <% end %>
              </tr>
            </tbody>
        </table>
        <br>
      </div>
      <%= link_to 'New Limit', new_limit_path %>
    </div>
</div>
