<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @insurance_range.name %>
</p>

<p>
  <strong>Calculation type:</strong>
  <%= @insurance_range.calculation_type %>
</p>

<%= link_to 'Edit', edit_insurance_range_path(@insurance_range) %> |
<%= link_to 'Back', insurance_ranges_path %>
