<%= simple_form_for(@insurance_program, local: true) do |f| %>
  <% if insurance_program.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(insurance_program.errors.count, "error") %> prohibited this insurance_program from being saved:</h2>

      <ul>
      <% insurance_program.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :broker_fee %>
    <%= f.text_field :broker_fee %>
  </div>

  <div class="field">
    <%= f.label :inspection_fee %>
    <%= f.text_field :inspection_fee %>
  </div>

  <div class="field">
    <%= f.label :surplus_fee %>
    <%= f.text_field :surplus_fee %>
  </div>

  <div class="field">
    <%= f.label :surplus_tax %>
    <%= f.text_field :surplus_tax %>
  </div>

  <div class="field">
  </div>


<hr />

<table class='table'>
   <thead>
     <tr>
       <th></th>
       <th>Field Class Name</th>
     </tr>
   </thead>
   <tbody class='field_classes'>
     <%= f.fields_for :field_classes do |builder| %>
      <%= render 'field_class_fields', f: builder %>
    <% end %>
    <%= link_to_add_fields "Add Field Class", f, :field_classes %>
   </tbody>

 </table>

 <div class="form-actions">
   <%= f.button :submit %>
 </div>

<% end %>
