<%= form_with(model: insurance_program, local: true) do |form| %>
  <% if insurance_program.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(insurance_program.errors.count, "error") %> prohibited this insurance_program from being saved:</h2>

      <ul>
      <% insurance_program.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :broder_fee %>
    <%= form.text_field :broder_fee %>
  </div>

  <div class="field">
    <%= form.label :inspection_fee %>
    <%= form.text_field :inspection_fee %>
  </div>

  <div class="field">
    <%= form.label :surplus_tax %>
    <%= form.text_field :surplus_tax %>
  </div>

  <div class="field">
    <%= form.label :us_state_id %>
    <%= form.text_field :us_state_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
