<p id="notice"><%= notice %></p>

<p>
  <strong>Broder fee:</strong>
  <%= @insurance_program.broder_fee %>
</p>

<p>
  <strong>Inspection fee:</strong>
  <%= @insurance_program.inspection_fee %>
</p>

<p>
  <strong>Surplus tax:</strong>
  <%= @insurance_program.surplus_tax %>
</p>

<p>
  <strong>Us state:</strong>
  <%= @insurance_program.us_state %>
</p>

<%= link_to 'Edit', edit_insurance_program_path(@insurance_program) %> |
<%= link_to 'Back', insurance_programs_path %>
