<p id="notice"><%= notice %></p>

<h1>Calculation Types</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Field type</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @calculation_types.each do |calculation_type| %>
      <tr>
        <td><%= calculation_type.name %></td>
        <td><%= calculation_type.field_type %></td>
        <td><%= link_to 'Show', calculation_type %></td>
        <td><%= link_to 'Edit', edit_calculation_type_path(calculation_type) %></td>
        <td><%= link_to 'Destroy', calculation_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Calculation Type', new_calculation_type_path %>
