<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @calculation_type.name %>
</p>

<p>
  <strong>Field type:</strong>
  <%= @calculation_type.field_type %>
</p>

<%= link_to 'Edit', edit_calculation_type_path(@calculation_type) %> |
<%= link_to 'Back', calculation_types_path %>
