<p id="notice"><%= notice %></p>
<div class="col-lg-6">
    <div class="card">
        <div class="card-header">
            <strong class="card-title">US States</strong>
        </div>
        <div class="card-body">
            <table class="table">
                <thead>
                    <tr>
                      <th>Id</th>
                      <th>Name</th>
                      <th>Initials</th>
                      <th>Show</th>
                      <th>Edit</th>
                      <th>Destroy</th>
                    </tr>
              </thead>
              <tbody>
                <tr>
                <% @us_states.each do |us_state| %>
                <td><%= us_state.id %></td>
                <td><%= us_state.name %></td>
                <td><%= us_state.initials %></td>
                <td><%= link_to 'Show', us_state %> |
                <%= link_to 'Edit', edit_us_state_path(us_state) %> |
                <%= link_to 'Destroy', us_state, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                <% end %>
              </tr>
            </tbody>
        </table>
        <br>
      </div>
        <%= link_to 'New State', new_us_state_path %>
    </div>
</div>
