<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @us_state.name %>
</p>

<p>
  <strong>Initials:</strong>
  <%= @us_state.initials %>
</p>

<%= link_to 'Edit', edit_us_state_path(@us_state) %> |
<%= link_to 'Back', us_states_path %>
