<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @financial_institution.name %>
</p>

<p>
  <strong>Apr:</strong>
  <%= @financial_institution.apr %>
</p>

<%= link_to 'Edit', edit_financial_institution_path(@financial_institution) %> |
<%= link_to 'Back', financial_institutions_path %>
